<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Kredi & Faiz Hesaplama</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
  <div class="container mt-4">
    <section class="has-text-centered">
      <h1 class="title">
        Kredi & Faiz Hesaplama Aracı
      </h1>
      <!-- tabs -->
      <div class="tabs is-centered">
        <ul>
          <li class="tab is-active" onclick="openTab(event,'bkh')"><a>Kredi Hesaplama</a></li>
          <li class="tab" onclick="openTab(event,'mfh')"><a>Mevduat Faizi Hesaplama</a></li>
        </ul>
      </div>
      <!-- and of tabs -->
    </section>
  </div>
  <div class="container section">
    <div id="bkh" class="content-tab" >
      <!-- app1 -->
      <div id="app1">
        <div class="columns mb-0">
          <div class="column">
            <div class="field">
              <label for="kkdf" class="label">KKDF (%)</label>
              <div class="control">
                <input class="input" type="number" name="kkdf" id="kkdf" min="0" step ="1" v-model.number="kkdf">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="bsmf" class="label">BSMF (%)</label>
              <div class="control">
                <input class="input" type="number" name="bsmf" id="bsmf" min="0" step ="1" v-model.number="bsmf">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="faiz_" class="label">FAİZ (%)</label>
              <div class="control">
                <input class="input" type="number" name="faiz_" id="faiz_" min="0" step ="0.01" v-model.number="faiz_">
              </div>
            </div>
          </div>
        </div>
        <div class="columns">
          <div class="column">
            <div class="field">
              <label for="kredi" class="label">KREDİ</label>
              <div class="control">
                <input class="input" type="number" name="kredi" id="kredi" min="10000" step ="10000" v-model.number="kredi">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="vade" class="label">VADE (ay)</label>
              <div class="control">
                <input class="input" type="number" name="vade" id="vade" min="1" v-model.number="vade">
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>#</th>
                <th>Kalan</th>
                <th>Ödenen</th>
                <th>Faiz</th>
                <th>Vergi</th>
                <th>Taksit</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in vade">
                <td>{{ i }}</td>
                <td>{{ tablo[i - 1][i]['kalan'] }}</td>
                <td>{{ tablo[i - 1][i]['odenen'] }}</td>
                <td>{{ tablo[i - 1][i]['faiz'] }}</td>
                <td>{{ tablo[i - 1][i]['vergi'] }}</td>
                <td>{{ tablo[i - 1][i]['taksit'] }}</td>
              </tr>
            </tbody>
            <tfoot class="has-text-weight-bold">
              <tr>
                <td colspan="2">Toplam</td>
                <td>{{ toplam['t_odenen'] }}</td>
                <td>{{ toplam['t_faiz'] }}</td>
                <td>{{ toplam['t_vergi'] }}</td>
                <td>{{ toplam['t_taksit'] }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- end of app1 -->
    </div>


    <div id="mfh" class="content-tab" style="display:none">
      <!-- app2 -->
      <div id="app2">
        <div class="columns">
          <div class="column">
            <div class="field">
              <label for="anapara" class="label">ANAPARA (%)</label>
              <div class="control">
                <input class="input" type="number" name="anapara" id="anapara" min="10000" step ="10000" v-model.number="anapara">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="faiz_" class="label">YILLIK FAİZ (%)</label>
              <div class="control">
                <input class="input" type="number" name="faiz_" id="faiz_" min="0" step ="0.1" v-model.number="faiz_">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="vergi" class="label">VERGİ (%)</label>
              <div class="control">
                <input class="input" type="number" name="vergi" id="vergi" min="0" step ="1" v-model.number="vergi">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="vade" class="label">VADE (gün)</label>
              <div class="control">
                <input class="input" type="number" name="vade" id="vade" min="0" step ="30" v-model.number="vade">
              </div>
            </div>
          </div>
          <div class="column">
            <div class="field">
              <label for="donem" class="label">DÖNEM</label>
              <div class="control">
                <input class="input" type="number" name="donem" id="donem" min="1" step ="1" v-model.number="donem">
              </div>
            </div>
          </div>
        </div>
        <div class="table-container">
          <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th>#</th>
                <th>Anapara</th>
                <th>Faiz</th>
                <th>Vergi</th>
                <th>Net</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="i in donem">
                <td>{{ i }}</td>
                <td>{{ tablo[i - 1][i]['anapara'] }}</td>
                <td>{{ tablo[i - 1][i]['faiz'] }}</td>
                <td>{{ tablo[i - 1][i]['vergi'] }}</td>
                <td>{{ tablo[i - 1][i]['net'] }}</td>
              </tr>
            </tbody>
            <tfoot class="has-text-weight-bold">
              <tr>
                <td colspan="2">Toplam</td>
                <td>{{ toplam['t_faiz'] }}</td>
                <td>{{ toplam['t_vergi'] }}</td>
                <td>{{ toplam['t_net'] }}</td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- end of app2 -->
    </div>
  </div>
</body>

<script src="app.js"></script>

</html>